/* =======================================
 * COLOR
 /* ======================================= */
/* =======================================
  * OTHERS
  /* ======================================= */
/* =======================================
  * RESPONSIVE MARK
  /* ======================================= */
/* USAGE */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap");
#realme-7-teasing .img-bg-cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

@media only screen and (max-width: 768px) {
  .mb-hide {
    display: none !important; } }

.mb-show {
  display: none; }
  @media only screen and (max-width: 768px) {
    .mb-show {
      display: block !important; } }

/* === TYPOGRAPHY === */
@font-face {
  font-family: 'Gilroy';
  src: url("./font/SVN-Gilroy SemiBold Italic.otf");
  font-weight: 600;
  font-style: italic; }

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  html *,
  body * {
    box-sizing: border-box; }

#realmeow-page * {
  font-family: 'Open Sans', sans-serif; }

#realmeow-page .bold {
  font-weight: 600; }

#realmeow-page .gilroy {
  font-family: 'Gilroy', sans-serif; }

#realmeow-page .txt-white,
#realmeow-page .white-txt {
  color: #fff; }
  #realmeow-page .txt-white *,
  #realmeow-page .white-txt * {
    color: #fff; }

#realmeow-page h1,
#realmeow-page h2,
#realmeow-page h3,
#realmeow-page h4,
#realmeow-page p {
  margin-top: 0; }

#realmeow-page .section-title {
  font-size: 70px;
  margin: 0; }

#realmeow-page .desc {
  font-size: 16px; }

#realmeow-page .txt-center {
  text-align: center; }

@media (max-width: 1920px) {
  #realmeow-page .section-title {
    font-size: 52px; }
  #realmeow-page .desc {
    font-size: 12px; } }

#realmeow-page .section {
  overflow: hidden; }

#realmeow-page .img-holder img,
#realmeow-page .img-holder picture {
  display: block;
  width: 100%; }

#realmeow-page .img-holder.bg-mode img,
#realmeow-page .img-holder.bg-mode picture {
  object-fit: cover;
  object-position: center; }

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #555;
  padding: 2px;
  z-index: 15;
  visibility: hidden;
  opacity: 0;
  transition: all ease-out 300ms 50ms; }
  .video-modal.active {
    visibility: visible;
    opacity: 1; }
  .video-modal .close-video-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #ffca12;
    width: 44px;
    height: 44px;
    line-height: 44px;
    display: block;
    color: #333;
    text-align: center;
    font-size: 23px;
    border-radius: 22px;
    cursor: pointer; }
    .video-modal .close-video-modal .fa {
      position: relative;
      top: -1px; }
  .video-modal .video-holder {
    position: relative;
    width: 100%;
    height: 100%; }

#realmeow-page #realmeow-banner,
#realmeow-page .section-realmeow-banner {
  background-color: #000;
  height: 103.125vw;
  position: relative; }
  #realmeow-page #realmeow-banner .effect-holder,
  #realmeow-page .section-realmeow-banner .effect-holder {
    position: absolute;
    width: 44.84375%;
    height: 85.8333%;
    left: 27.34375%;
    top: 9.2424%;
    z-index: 3; }
    #realmeow-page #realmeow-banner .effect-holder .image-holder,
    #realmeow-page .section-realmeow-banner .effect-holder .image-holder {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute; }
      #realmeow-page #realmeow-banner .effect-holder .image-holder img,
      #realmeow-page .section-realmeow-banner .effect-holder .image-holder img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block; }
    #realmeow-page #realmeow-banner .effect-holder .shadow-1,
    #realmeow-page .section-realmeow-banner .effect-holder .shadow-1 {
      z-index: 1; }
    #realmeow-page #realmeow-banner .effect-holder .shadow-2,
    #realmeow-page .section-realmeow-banner .effect-holder .shadow-2 {
      z-index: 2; }
    #realmeow-page #realmeow-banner .effect-holder .main-img,
    #realmeow-page .section-realmeow-banner .effect-holder .main-img {
      z-index: 3; }
  #realmeow-page #realmeow-banner .background-holder,
  #realmeow-page .section-realmeow-banner .background-holder {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/banner/bg_text@2x.jpg");
    background-size: cover;
    background-position: center; }
    #realmeow-page #realmeow-banner .background-holder .bg-logo,
    #realmeow-page #realmeow-banner .background-holder .bg-left,
    #realmeow-page #realmeow-banner .background-holder .bg-right,
    #realmeow-page #realmeow-banner .background-holder .side-decor-right,
    #realmeow-page .section-realmeow-banner .background-holder .bg-logo,
    #realmeow-page .section-realmeow-banner .background-holder .bg-left,
    #realmeow-page .section-realmeow-banner .background-holder .bg-right,
    #realmeow-page .section-realmeow-banner .background-holder .side-decor-right {
      position: absolute; }
      #realmeow-page #realmeow-banner .background-holder .bg-logo img,
      #realmeow-page #realmeow-banner .background-holder .bg-left img,
      #realmeow-page #realmeow-banner .background-holder .bg-right img,
      #realmeow-page #realmeow-banner .background-holder .side-decor-right img,
      #realmeow-page .section-realmeow-banner .background-holder .bg-logo img,
      #realmeow-page .section-realmeow-banner .background-holder .bg-left img,
      #realmeow-page .section-realmeow-banner .background-holder .bg-right img,
      #realmeow-page .section-realmeow-banner .background-holder .side-decor-right img {
        display: block;
        width: 100%; }
    #realmeow-page #realmeow-banner .background-holder .bg-logo,
    #realmeow-page .section-realmeow-banner .background-holder .bg-logo {
      width: 46.875%;
      top: 4.54545%;
      left: 26.5625%; }
    #realmeow-page #realmeow-banner .background-holder .side-decor-right,
    #realmeow-page .section-realmeow-banner .background-holder .side-decor-right {
      width: 5%;
      top: 30.45454%;
      left: 69.375%;
      z-index: 1; }
    #realmeow-page #realmeow-banner .background-holder .bg-right,
    #realmeow-page .section-realmeow-banner .background-holder .bg-right {
      width: 3.75%;
      left: 69.53125%;
      top: 76.060%;
      z-index: 2; }
    #realmeow-page #realmeow-banner .background-holder .bg-left,
    #realmeow-page .section-realmeow-banner .background-holder .bg-left {
      width: 4.21875%;
      top: 82.9545%;
      left: 26.328125%;
      z-index: 2; }
  #realmeow-page #realmeow-banner .decoration-holder,
  #realmeow-page .section-realmeow-banner .decoration-holder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%; }
    #realmeow-page #realmeow-banner .decoration-holder .decor-star,
    #realmeow-page .section-realmeow-banner .decoration-holder .decor-star {
      position: absolute; }
      #realmeow-page #realmeow-banner .decoration-holder .decor-star img,
      #realmeow-page .section-realmeow-banner .decoration-holder .decor-star img {
        display: block;
        width: 100%; }
    #realmeow-page #realmeow-banner .decoration-holder .star-1,
    #realmeow-page .section-realmeow-banner .decoration-holder .star-1 {
      width: 2.34375%;
      left: 25.390625%;
      top: 23.8636%; }
    #realmeow-page #realmeow-banner .decoration-holder .star-2,
    #realmeow-page .section-realmeow-banner .decoration-holder .star-2 {
      width: 1.25%;
      left: 72.539%;
      top: 16.742424%; }

#realmeow-page .section-realmeow-cover-listing,
#realmeow-page #realmeow-cover-listing {
  background-color: #000;
  position: relative;
  height: 33.203vw; }
  #realmeow-page .section-realmeow-cover-listing .background-holder,
  #realmeow-page #realmeow-cover-listing .background-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  #realmeow-page .section-realmeow-cover-listing .cover-listing-holder,
  #realmeow-page #realmeow-cover-listing .cover-listing-holder {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    #realmeow-page .section-realmeow-cover-listing .cover-listing-holder .cover-list,
    #realmeow-page #realmeow-cover-listing .cover-listing-holder .cover-list {
      width: 46.875%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;
      list-style: none;
      padding: 0;
      margin: 0; }
      #realmeow-page .section-realmeow-cover-listing .cover-listing-holder .cover-list .cover-item,
      #realmeow-page #realmeow-cover-listing .cover-listing-holder .cover-list .cover-item {
        cursor: pointer;
        transition: all ease-in 150ms; }
        #realmeow-page .section-realmeow-cover-listing .cover-listing-holder .cover-list .cover-item:hover,
        #realmeow-page #realmeow-cover-listing .cover-listing-holder .cover-list .cover-item:hover {
          transition: all ease-out 175ms;
          transform: scale(1.1);
          box-shadow: 0 40px 100px rgba(62, 38, 255, 0.3); }

#realmeow-page #realmeow-slogan-banner,
#realmeow-page .section-realmeow-slogan-banner {
  background-color: #000;
  position: relative;
  height: 65.4296875vw; }
  #realmeow-page #realmeow-slogan-banner .background-holder,
  #realmeow-page .section-realmeow-slogan-banner .background-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; }
    #realmeow-page #realmeow-slogan-banner .background-holder .realmeow-logo,
    #realmeow-page .section-realmeow-slogan-banner .background-holder .realmeow-logo {
      position: absolute;
      width: 46.71875%;
      top: 7.88%;
      left: 26.5625%; }
  #realmeow-page #realmeow-slogan-banner .realmeow-rotating-effect,
  #realmeow-page .section-realmeow-slogan-banner .realmeow-rotating-effect {
    z-index: 2;
    position: absolute;
    width: 23.9453125%;
    top: 15.03%;
    left: 49%; }
    #realmeow-page #realmeow-slogan-banner .realmeow-rotating-effect .img-holder,
    #realmeow-page .section-realmeow-slogan-banner .realmeow-rotating-effect .img-holder {
      position: absolute;
      width: 100%;
      display: none; }
      #realmeow-page #realmeow-slogan-banner .realmeow-rotating-effect .img-holder.active,
      #realmeow-page .section-realmeow-slogan-banner .realmeow-rotating-effect .img-holder.active {
        display: block; }
  #realmeow-page #realmeow-slogan-banner .slogan-listing,
  #realmeow-page .section-realmeow-slogan-banner .slogan-listing {
    position: absolute;
    width: 29.453125%;
    top: 23.03%;
    left: 25%;
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    #realmeow-page #realmeow-slogan-banner .slogan-listing .slogan-item,
    #realmeow-page .section-realmeow-slogan-banner .slogan-listing .slogan-item {
      font-size: 110px;
      white-space: nowrap;
      font-weight: 600;
      font-style: italic;
      position: relative; }
      #realmeow-page #realmeow-slogan-banner .slogan-listing .slogan-item .main-txt,
      #realmeow-page .section-realmeow-slogan-banner .slogan-listing .slogan-item .main-txt {
        position: relative;
        z-index: 2; }
      #realmeow-page #realmeow-slogan-banner .slogan-listing .slogan-item .shadow-txt,
      #realmeow-page .section-realmeow-slogan-banner .slogan-listing .slogan-item .shadow-txt {
        position: absolute;
        top: 15px;
        -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.25);
        -webkit-text-fill-color: #000; }

@media only screen and (max-width: 1920px) {
  #realmeow-page #realmeow-slogan-banner .slogan-listing .slogan-item,
  #realmeow-page .section-realmeow-slogan-banner .slogan-listing .slogan-item {
    font-size: 74px; } }

#realmeow-page .section-realmeow-equipment,
#realmeow-page #realmeow-equipment {
  background-color: #000; }
  #realmeow-page .section-realmeow-equipment .background-holder,
  #realmeow-page #realmeow-equipment .background-holder {
    width: 100%;
    position: relative; }
    #realmeow-page .section-realmeow-equipment .background-holder .section-title,
    #realmeow-page #realmeow-equipment .background-holder .section-title {
      position: absolute;
      top: 50%;
      width: 100%;
      left: 0; }
      #realmeow-page .section-realmeow-equipment .background-holder .section-title .context,
      #realmeow-page #realmeow-equipment .background-holder .section-title .context {
        position: relative;
        z-index: 2; }
      #realmeow-page .section-realmeow-equipment .background-holder .section-title .decor,
      #realmeow-page #realmeow-equipment .background-holder .section-title .decor {
        position: absolute;
        width: 200px;
        left: 42.5%;
        top: -50px; }
  #realmeow-page .section-realmeow-equipment .equipment-holder,
  #realmeow-page #realmeow-equipment .equipment-holder {
    width: 1200px;
    margin: auto;
    max-width: 100%;
    list-style: none; }
    #realmeow-page .section-realmeow-equipment .equipment-holder .equipment-item,
    #realmeow-page #realmeow-equipment .equipment-holder .equipment-item {
      margin-bottom: 60px;
      position: relative;
      cursor: pointer; }
      #realmeow-page .section-realmeow-equipment .equipment-holder .equipment-item .equipment-name,
      #realmeow-page #realmeow-equipment .equipment-holder .equipment-item .equipment-name {
        position: absolute;
        width: 42.5%;
        left: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2; }
        #realmeow-page .section-realmeow-equipment .equipment-holder .equipment-item .equipment-name .logo-holder,
        #realmeow-page #realmeow-equipment .equipment-holder .equipment-item .equipment-name .logo-holder {
          width: 220px;
          margin-bottom: 15px; }
        #realmeow-page .section-realmeow-equipment .equipment-holder .equipment-item .equipment-name .equipment-context,
        #realmeow-page #realmeow-equipment .equipment-holder .equipment-item .equipment-name .equipment-context {
          font-weight: 600;
          font-size: 30px; }
      #realmeow-page .section-realmeow-equipment .equipment-holder .equipment-item .equipment-image,
      #realmeow-page #realmeow-equipment .equipment-holder .equipment-item .equipment-image {
        overflow: hidden;
        border-radius: 30px; }
        #realmeow-page .section-realmeow-equipment .equipment-holder .equipment-item .equipment-image img,
        #realmeow-page #realmeow-equipment .equipment-holder .equipment-item .equipment-image img {
          transform-origin: 80% 50%;
          transition: all cubic-bezier(0.31, 0.86, 0.48, 0.99) 0.5s; }
      #realmeow-page .section-realmeow-equipment .equipment-holder .equipment-item.layout-dark .equipment-context,
      #realmeow-page #realmeow-equipment .equipment-holder .equipment-item.layout-dark .equipment-context {
        color: #fff; }
      #realmeow-page .section-realmeow-equipment .equipment-holder .equipment-item:hover .equipment-image img,
      #realmeow-page #realmeow-equipment .equipment-holder .equipment-item:hover .equipment-image img {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        transition: all cubic-bezier(0.31, 0.86, 0.48, 0.99) 2.5s; }

#realmeow-page .section-realmeow-intro-banner,
#realmeow-page #realmeow-intro-banner {
  position: relative;
  background-color: #000;
  height: 46.875vw; }
  #realmeow-page .section-realmeow-intro-banner .background-holder,
  #realmeow-page #realmeow-intro-banner .background-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #realmeow-page .section-realmeow-intro-banner .main-content,
  #realmeow-page #realmeow-intro-banner .main-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 20%; }
  #realmeow-page .section-realmeow-intro-banner .disclaimer-holder,
  #realmeow-page #realmeow-intro-banner .disclaimer-holder {
    position: absolute;
    left: 41.796875%;
    top: 64.3333%; }

#realmeow-page .section-realmeow-superpower,
#realmeow-page #realmeow-superpower {
  background-color: #000;
  position: relative;
  height: 87.1354vw; }
  #realmeow-page .section-realmeow-superpower .background,
  #realmeow-page #realmeow-superpower .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  #realmeow-page .section-realmeow-superpower .main-content,
  #realmeow-page #realmeow-superpower .main-content {
    position: absolute;
    top: 17%;
    left: 0;
    width: 100%;
    z-index: 4; }
  #realmeow-page .section-realmeow-superpower .wire-element-holder,
  #realmeow-page #realmeow-superpower .wire-element-holder {
    position: absolute;
    width: 29.5%;
    height: 59.77286%;
    top: 29.75%;
    left: 35.15625%;
    z-index: 2; }
  #realmeow-page .section-realmeow-superpower .power-listing-holder,
  #realmeow-page #realmeow-superpower .power-listing-holder {
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute; }
    #realmeow-page .section-realmeow-superpower .power-listing-holder .mold,
    #realmeow-page #realmeow-superpower .power-listing-holder .mold {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      top: 0.5%;
      left: 0; }
    #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group,
    #realmeow-page #realmeow-superpower .power-listing-holder .power-group {
      color: #fff;
      position: absolute; }
      #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group .decor,
      #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group .power-title,
      #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group .power-desc,
      #realmeow-page #realmeow-superpower .power-listing-holder .power-group .decor,
      #realmeow-page #realmeow-superpower .power-listing-holder .power-group .power-title,
      #realmeow-page #realmeow-superpower .power-listing-holder .power-group .power-desc {
        position: absolute; }
      #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group .power-title,
      #realmeow-page #realmeow-superpower .power-listing-holder .power-group .power-title {
        font-size: 17px;
        word-spacing: -.5px; }
      #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group .decor img,
      #realmeow-page #realmeow-superpower .power-listing-holder .power-group .decor img {
        display: block;
        width: 100%; }
      #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group .power-desc,
      #realmeow-page #realmeow-superpower .power-listing-holder .power-group .power-desc {
        font-size: 9px;
        line-height: 18px;
        white-space: nowrap; }
      #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-sensor-power,
      #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-sensor-power {
        width: 12%;
        height: 20%;
        top: 29%;
        left: 26.4%; }
        #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-sensor-power .decor,
        #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-sensor-power .decor {
          top: 15%;
          width: 79%; }
        #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-sensor-power .power-desc,
        #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-sensor-power .power-desc {
          width: 65%;
          left: 9.7%;
          top: 20%; }
      #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-radioactive-power,
      #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-radioactive-power {
        width: 12%;
        height: 17%;
        top: 36.75%;
        left: 65.35%; }
        #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-radioactive-power .decor,
        #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-radioactive-power .decor {
          top: 18%;
          width: 65%; }
        #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-radioactive-power .power-desc,
        #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-radioactive-power .power-desc {
          width: 65%;
          left: 7%;
          top: 27%; }
      #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-machine-power,
      #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-machine-power {
        width: 12%;
        height: 15%;
        top: 54.5%;
        left: 25.75%; }
        #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-machine-power .decor,
        #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-machine-power .decor {
          top: 20.4%;
          width: 78.5%;
          left: 5.9%; }
        #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-machine-power .power-desc,
        #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-machine-power .power-desc {
          width: 75%;
          left: 15%;
          top: 31%; }
      #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-star-contact-power,
      #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-star-contact-power {
        width: 12%;
        height: 18%;
        top: 56.5%;
        left: 65.4%; }
        #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-star-contact-power .decor,
        #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-star-contact-power .decor {
          top: 25.5%;
          width: 65%;
          left: 0%; }
        #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-star-contact-power .power-desc,
        #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-star-contact-power .power-desc {
          width: 70%;
          left: 9.5%;
          top: 33%; }
      #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-collection-power,
      #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-collection-power {
        width: 12%;
        height: 15%;
        top: 79.2%;
        left: 26.2%; }
        #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-collection-power .decor,
        #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-collection-power .decor {
          top: 24.5%;
          width: 64%;
          left: 1.5%; }
        #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-collection-power .power-desc,
        #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-collection-power .power-desc {
          width: 70%;
          left: 9.5%;
          top: 37%; }
      #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-gravity-power,
      #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-gravity-power {
        width: 12%;
        height: 15%;
        top: 82.9%;
        left: 65.3%; }
        #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-gravity-power .decor,
        #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-gravity-power .decor {
          top: 19%;
          width: 64%;
          left: .25%; }
        #realmeow-page .section-realmeow-superpower .power-listing-holder .power-group#realmeow-gravity-power .power-desc,
        #realmeow-page #realmeow-superpower .power-listing-holder .power-group#realmeow-gravity-power .power-desc {
          width: 70%;
          left: 7%;
          top: 28%; }

#realmeow-page .section-realmeow-the-legend,
#realmeow-page #realmeow-the-legend {
  background-color: #000;
  padding: 9.45vw 0 5vw; }
  #realmeow-page .section-realmeow-the-legend .title-holder,
  #realmeow-page #realmeow-the-legend .title-holder {
    position: relative;
    margin-bottom: 120px; }
    #realmeow-page .section-realmeow-the-legend .title-holder .section-title,
    #realmeow-page #realmeow-the-legend .title-holder .section-title {
      position: relative;
      z-index: 2; }
    #realmeow-page .section-realmeow-the-legend .title-holder .decor,
    #realmeow-page #realmeow-the-legend .title-holder .decor {
      position: absolute;
      left: 50%;
      top: -55%; }
      #realmeow-page .section-realmeow-the-legend .title-holder .decor img,
      #realmeow-page #realmeow-the-legend .title-holder .decor img {
        transform: rotate(47deg);
        width: 4.5vw; }
  #realmeow-page .section-realmeow-the-legend .legend-intro-layout,
  #realmeow-page #realmeow-the-legend .legend-intro-layout {
    width: 1080px;
    margin: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: 0.55fr 0.42fr; }
    #realmeow-page .section-realmeow-the-legend .legend-intro-layout .image-column,
    #realmeow-page #realmeow-the-legend .legend-intro-layout .image-column {
      flex-basis: 58.333%;
      position: relative; }
      #realmeow-page .section-realmeow-the-legend .legend-intro-layout .image-column .mark-image,
      #realmeow-page #realmeow-the-legend .legend-intro-layout .image-column .mark-image {
        position: relative;
        width: 94.7619%;
        z-index: 2; }
      #realmeow-page .section-realmeow-the-legend .legend-intro-layout .image-column .img-frame,
      #realmeow-page #realmeow-the-legend .legend-intro-layout .image-column .img-frame {
        position: absolute;
        width: 94.7619%;
        height: 100%;
        top: 5%;
        left: 5%;
        border: 1px solid #979797; }
    #realmeow-page .section-realmeow-the-legend .legend-intro-layout .desc-column,
    #realmeow-page #realmeow-the-legend .legend-intro-layout .desc-column {
      padding-left: 10%; }
      #realmeow-page .section-realmeow-the-legend .legend-intro-layout .desc-column .desc-group,
      #realmeow-page #realmeow-the-legend .legend-intro-layout .desc-column .desc-group {
        margin-bottom: 100px; }
        #realmeow-page .section-realmeow-the-legend .legend-intro-layout .desc-column .desc-group .intro-title-holder .group-sub-title,
        #realmeow-page #realmeow-the-legend .legend-intro-layout .desc-column .desc-group .intro-title-holder .group-sub-title {
          position: relative;
          font-size: 22px;
          text-align: center;
          width: 220px;
          margin-bottom: 10px; }
          #realmeow-page .section-realmeow-the-legend .legend-intro-layout .desc-column .desc-group .intro-title-holder .group-sub-title .content,
          #realmeow-page #realmeow-the-legend .legend-intro-layout .desc-column .desc-group .intro-title-holder .group-sub-title .content {
            background-color: #000;
            display: inline-block;
            padding: 0 6px;
            position: relative;
            z-index: 2; }
          #realmeow-page .section-realmeow-the-legend .legend-intro-layout .desc-column .desc-group .intro-title-holder .group-sub-title:after,
          #realmeow-page #realmeow-the-legend .legend-intro-layout .desc-column .desc-group .intro-title-holder .group-sub-title:after {
            content: '';
            width: 100%;
            position: absolute;
            top: 49%;
            height: 2px;
            left: 0;
            background-color: #979797; }
        #realmeow-page .section-realmeow-the-legend .legend-intro-layout .desc-column .desc-group .intro-title-holder .realmeow-logo-holder,
        #realmeow-page #realmeow-the-legend .legend-intro-layout .desc-column .desc-group .intro-title-holder .realmeow-logo-holder {
          width: 220px; }
        #realmeow-page .section-realmeow-the-legend .legend-intro-layout .desc-column .desc-group .group-title,
        #realmeow-page #realmeow-the-legend .legend-intro-layout .desc-column .desc-group .group-title {
          font-size: 50px;
          font-weight: 600;
          margin-bottom: 0; }
        #realmeow-page .section-realmeow-the-legend .legend-intro-layout .desc-column .desc-group .desc,
        #realmeow-page #realmeow-the-legend .legend-intro-layout .desc-column .desc-group .desc {
          font-size: 18px;
          line-height: 1.75;
          padding-top: 20px;
          color: #CBCBCB; }

#realmeow-page #realmeow-tvc-banner,
#realmeow-page .section-realmeow-tvc-banner {
  background-color: #000;
  position: relative; }
  #realmeow-page #realmeow-tvc-banner .play-btn-holder,
  #realmeow-page .section-realmeow-tvc-banner .play-btn-holder {
    position: absolute;
    width: 6%;
    top: 41.5%;
    left: 46%;
    cursor: pointer; }

#realmeow-page #who-call-realmeow,
#realmeow-page .section-who-call-realmeow {
  background-color: #000;
  position: relative;
  height: 103.125vw; }
  #realmeow-page #who-call-realmeow .background-holder,
  #realmeow-page .section-who-call-realmeow .background-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 67.1875%; }
  #realmeow-page #who-call-realmeow .main-content,
  #realmeow-page .section-who-call-realmeow .main-content {
    position: absolute;
    width: 100%;
    top: 20.6%; }
    #realmeow-page #who-call-realmeow .main-content .realmeow-logo-holder,
    #realmeow-page .section-who-call-realmeow .main-content .realmeow-logo-holder {
      margin: 5vw 0 2.1484375vw; }
      #realmeow-page #who-call-realmeow .main-content .realmeow-logo-holder img,
      #realmeow-page .section-who-call-realmeow .main-content .realmeow-logo-holder img {
        width: 15.625%; }
  #realmeow-page #who-call-realmeow .realmeow-profile,
  #realmeow-page .section-who-call-realmeow .realmeow-profile {
    position: absolute;
    width: 100%;
    top: 58.71212%;
    left: 0;
    bottom: 0; }
    #realmeow-page #who-call-realmeow .realmeow-profile .profile-image,
    #realmeow-page .section-who-call-realmeow .realmeow-profile .profile-image {
      position: absolute;
      width: 51.5625%;
      left: 24.25%;
      top: 17.5%; }
