#realmeow-page {
    #realmeow-banner,
    .section-realmeow-banner {
        background-color: $black;
        height: 103.125vw;
        position: relative;
        // Effect Holder
        .effect-holder {
            position: absolute;
            width: 44.84375%;
            height: 85.8333%;
            left: 27.34375%;
            top: 9.2424%;
            z-index: 3;
            // Common image holder
            .image-holder {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    display: block;
                }
            }
            // Individual Layer
            .shadow-1 {
                z-index: 1;
            }
            .shadow-2 {
                z-index: 2;
            }
            .main-img {
                z-index: 3;
            }
        }
        // Bacjground Holder
        .background-holder {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url("../img/banner/bg_text@2x.jpg");
            background-size: cover;
            background-position: center;
            // Inside elements
            .bg-logo,
            .bg-left,
            .bg-right,
            .side-decor-right {
                position: absolute;
                img {
                    display: block;
                    width: 100%;
                }
            }
            .bg-logo {
                width: 46.875%;
                top: 4.54545%;
                left: 26.5625%;
            }
            .side-decor-right {
                width: 5%;
                top: 30.45454%;
                left: 69.375%;
                z-index: 1;
            }
            .bg-right {
                width: 3.75%;
                left: 69.53125%;
                top: 76.06%;
                z-index: 2;
            }
            .bg-left {
                width: 4.21875%;
                top: 82.9545%;
                left: 26.328125%;
                z-index: 2;
            }
            .bg-mobile {
                display: none;
            }
        }
        // Decoration Holder
        .decoration-holder {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            // Common Decor Style Element
            .decor-star {
                position: absolute;
                img {
                    display: block;
                    width: 100%;
                }
            }
            // Individual Element
            .star-1 {
                width: 2.34375%;
                left: 25.390625%;
                top: 23.8636%;
                img {
                    -webkit-animation: starRotating 7s linear infinite;
                    animation: starRotating 7s linear infinite;
                }
            }
            .star-2 {
                width: 1.25%;
                left: 72.539%;
                top: 16.742424%;
                img {
                    -webkit-animation: starRotating 4s linear infinite;
                    animation: starRotating 4s linear infinite;
                }
            }
        }
    }
    /* === RESPONSIVE === */
    @media #{$information-tablet} {
        #realmeow-banner,
        .section-realmeow-banner {
            height: 172.2vw;
            // Effect Holder
            .effect-holder {
                width: 72.91666%;
                height: 81.935%;
                left: 13.54166%;
                top: 14.8387%;
            }
            // Bacjground Holder
            .background-holder {
                background-image: none;
                // Inside elements
                .bg-left,
                .bg-right,
                .side-decor-right {
                    display: none;
                }
                .bg-logo {
                    top: 11.129%;
                    left: 6.25%;
                    width: 87.2222%;
                }
                .bg-mobile {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            // Decoration Holder
            .decoration-holder {
                // Individual Element
                .star-1 {
                    width: 5.5555%;
                    left: 7.22222%;
                    top: 52.0968%;
                }
                .star-2 {
                    width: 1.25%;
                    left: 72.539%;
                    top: 16.742424%;
                }
            }
        }
    }
}

@keyframes starRotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-180deg) scale(0.5);
        transform: rotate(-180deg) scale(0.5);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}