#realmeow-page {
    .section-realmeow-equipment,
    #realmeow-equipment {
        background-color: $black;
        // Background
        .background-holder {
            width: 100%;
            position: relative;
            .section-title {
                position: absolute;
                top: 50%;
                width: 100%;
                left: 0;
                .context {
                    position: relative;
                    z-index: 2;
                }
                .decor {
                    position: absolute;
                    width: 200px;
                    left: 42.5%;
                    top: -50px;
                }
            }
        }
        // Equipment Holder
        .equipment-holder {
            width: 1200px;
            margin: auto;
            max-width: 100%;
            list-style: none;
            .equipment-list {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .equipment-item {
                margin-bottom: 60px;
                position: relative;
                cursor: pointer;
                // Name
                .equipment-name {
                    position: absolute;
                    width: 42.5%;
                    left: 0;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    z-index: 2;
                    .logo-holder {
                        width: 220px;
                        margin-bottom: 15px;
                    }
                    .equipment-context {
                        font-weight: 600;
                        font-size: 30px;
                    }
                }
                // Image
                .equipment-image {
                    overflow: hidden;
                    border-radius: 30px;
                    img {
                        transform-origin: 80% 50%;
                        transition: all cubic-bezier(.31, .86, .48, .99) .5s;
                    }
                }
                // Layout variation
                &.layout-dark {
                    .equipment-context {
                        color: $white;
                    }
                }
                &:hover {
                    .equipment-image {
                        img {
                            -webkit-transform: scale(1.15);
                            transform: scale(1.15);
                            transition: all cubic-bezier(.31, .86, .48, .99) 2.5s;
                        }
                    }
                }
            }
        }
    }
    /* === RESPONSIVE === */
    @media #{$information-sm-screen} {
        .section-realmeow-equipment,
        #realmeow-equipment {
            // Background
            .background-holder {
                .section-title {
                    .decor {
                        width: 10vw;
                        left: 42.5%;
                        top: -2.5vw;
                    }
                }
            }
            // Equipment Holder
            .equipment-holder {
                width: 1080px;
                .equipment-item {
                    margin-bottom: 42px;
                    // Name
                    .equipment-name {
                        .logo-holder {
                            width: 180px;
                            margin-bottom: 12px;
                        }
                        .equipment-context {
                            font-size: 26px;
                        }
                    }
                    // Image
                    .equipment-image {
                        border-radius: 22px;
                    }
                }
            }
        }
    }
    /* === MOBILE === */
    @media #{$information-tablet} {
        .section-realmeow-equipment,
        #realmeow-equipment {
            // Background
            .background-holder {
                margin-bottom: 5vw;
                .section-title {
                    .decor {
                        width: 18vw;
                        left: 35.5%;
                        top: -4.5vw;
                    }
                }
            }
            // Equipment Holder
            .equipment-holder {
                padding: 0 30px;
                .equipment-item {
                    margin-bottom: 5vw;
                    // Name
                    .equipment-name {
                        .logo-holder {
                            width: 18vw;
                            margin-bottom: 10px;
                        }
                        .equipment-context {
                            font-size: 20px;
                        }
                    }
                    // Image
                    .equipment-image {
                        border-radius: 20px;
                    }
                }
            }
        }
    }
    @media #{$information-phone} {
        .section-realmeow-equipment,
        #realmeow-equipment {
            // Background
            .background-holder {
                margin-bottom: 5vw;
                .section-title {
                    .decor {
                        width: 18vw;
                        left: 35.5%;
                        top: -4.5vw;
                    }
                }
            }
            // Equipment Holder
            .equipment-holder {
                padding: 0 30px;
                .equipment-item {
                    margin-bottom: 5vw;
                    // Name
                    .equipment-name {
                        .logo-holder {
                            width: 18vw;
                            margin-bottom: 5px;
                        }
                        .equipment-context {
                            font-size: 14px;
                        }
                    }
                    // Image
                    .equipment-image {
                        border-radius: 12px;
                    }
                }
            }
        }
    }
    @media #{$information-sm-phone} {
        .section-realmeow-equipment,
        #realmeow-equipment {
            // Background
            .background-holder {
                margin-bottom: 5vw;
                .section-title {
                    .decor {
                        width: 18vw;
                        left: 35.5%;
                        top: -4.5vw;
                    }
                }
            }
            // Equipment Holder
            .equipment-holder {
                padding: 0 15px;
                .equipment-item {
                    margin-bottom: 5vw;
                    // Name
                    .equipment-name {
                        width: 39%;
                        .logo-holder {
                            width: 22vw;
                            margin-bottom: 2px;
                        }
                        .equipment-context {
                            font-size: 12px;
                        }
                    }
                    // Image
                    .equipment-image {
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}