#realmeow-page {
    .section-realmeow-intro-banner,
    #realmeow-intro-banner {
        position: relative;
        background-color: $black;
        height: 46.875vw;
        // Background
        .background-holder {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        // Main Content
        .main-content {
            position: absolute;
            z-index: 1;
            width: 100%;
            top: 20%;
        }
        // Disclaimer
        .disclaimer-holder {
            position: absolute;
            left: 41.796875%;
            top: 64.3333%;
        }
    }
}