#realmeow-page {
    .section-realmeow-superpower,
    #realmeow-superpower {
        background-color: $black;
        position: relative;
        height: 87.1354vw;
        // Background
        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        // Main Content
        .main-content {
            position: absolute;
            top: 17%;
            left: 0;
            width: 100%;
            z-index: 4;
        }
        // Wire Holder
        .wire-element-holder {
            position: absolute;
            width: 29.5%;
            height: 59.77286%;
            top: 29.75%;
            left: 35.15625%;
            z-index: 2;
        }
        // Poser Holder
        .power-listing-holder {
            z-index: 3;
            width: 100%;
            height: 100%;
            position: absolute;
            // background-color: rgba(red, 0.15);
            // The Mold
            .mold {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                top: 0.5%;
                left: 0;
            }
            .power-group {
                color: $white;
                position: absolute;
                cursor: pointer;
                transition: all ease-in 100ms;
                // Common inner elements
                .decor,
                .power-title,
                .power-desc {
                    position: absolute;
                }
                // Individual Styling elements
                .power-title {
                    // font-size: 24px;
                    font-size: 17px;
                    word-spacing: -.5px;
                }
                .decor {
                    img,
                    svg {
                        display: block;
                        width: 100%;
                        height: auto;
                        path {
                            stroke: #979797;
                            transition: all ease-in 100ms;
                        }
                    }
                }
                .power-desc {
                    font-size: 12px;
                    line-height: 18px;
                    white-space: nowrap;
                }
                &:hover {
                    color: $yellow;
                    transition: all ease-out 150ms;
                    .decor {
                        svg {
                            path {
                                stroke: $yellow;
                                transition: all ease-out 150ms;
                            }
                        }
                    }
                }
                // Individual Elements Styling
                &#realmeow-sensor-power {
                    width: 12%;
                    height: 20%;
                    top: 29%;
                    left: 26.4%;
                    .power-title {}
                    .decor {
                        top: 15%;
                        width: 79%;
                    }
                    .power-desc {
                        width: 65%;
                        left: 9.7%;
                        top: 20%;
                    }
                }
                &#realmeow-radioactive-power {
                    width: 12%;
                    height: 17%;
                    top: 36.75%;
                    left: 65.35%;
                    .power-title {}
                    .decor {
                        top: 18%;
                        width: 65%;
                    }
                    .power-desc {
                        width: 65%;
                        left: 7%;
                        top: 27%;
                    }
                }
                &#realmeow-machine-power {
                    width: 12%;
                    height: 15%;
                    top: 54.5%;
                    left: 25.75%;
                    .power-title {}
                    .decor {
                        top: 20.4%;
                        width: 78.5%;
                        left: 5.9%;
                    }
                    .power-desc {
                        width: 75%;
                        left: 15%;
                        top: 31%;
                    }
                }
                &#realmeow-star-contact-power {
                    width: 12%;
                    height: 18%;
                    top: 56.5%;
                    left: 65.4%;
                    .power-title {}
                    .decor {
                        top: 25.5%;
                        width: 65%;
                        left: 0%;
                    }
                    .power-desc {
                        width: 70%;
                        left: 9.5%;
                        top: 33%;
                    }
                }
                &#realmeow-collection-power {
                    width: 12%;
                    height: 15%;
                    top: 79.2%;
                    left: 26.2%;
                    .power-title {}
                    .decor {
                        top: 24.5%;
                        width: 64%;
                        left: 1.5%;
                    }
                    .power-desc {
                        width: 70%;
                        left: 9.5%;
                        top: 37%;
                    }
                }
                &#realmeow-gravity-power {
                    width: 12%;
                    height: 15%;
                    top: 82.9%;
                    left: 65.3%;
                    .power-title {}
                    .decor {
                        top: 19%;
                        width: 64%;
                        left: .25%;
                    }
                    .power-desc {
                        width: 70%;
                        left: 7%;
                        top: 28%;
                    }
                }
            }
        }
    }
    /* === RESPONSIVE ===*/
    @media #{$information-lg-screen} {
        .section-realmeow-superpower,
        #realmeow-superpower {
            width: 1920px;
            height: 1673px;
            margin-left: calc((100% - 1920px)/2);
            // Poser Holder
            .power-listing-holder {
                .power-group {
                    .power-title {
                        // font-size: 24px;
                        font-size: 17px;
                        word-spacing: -.5px;
                    }
                    .power-desc {
                        font-size: 9px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    /* === MOBILE === */
    @media #{$information-tablet} {
        .section-realmeow-superpower,
        #realmeow-superpower {
            width: 100%;
            height: auto;
            margin-left: 0;
            .background {
                position: relative;
            }
            // Main Content
            .main-content {
                top: 5%;
            }
            // Wire Holder
            .wire-element-holder {
                width: 58.5%;
                height: 63.54712%;
                top: 12%;
                left: 11%;
            }
            // Poser Holder
            .power-listing-holder {
                top: 0;
                left: 0;
                .power-group {
                    // Individual Styling elements
                    .power-title {
                        // font-size: 24px;
                        font-size: 24px;
                        word-spacing: -.5px;
                    }
                    .decor {
                        display: none;
                    }
                    .power-desc {
                        font-size: 16px;
                        line-height: 30px;
                        white-space: normal;
                        color: #6A6A6A;
                    }
                    // Individual Elements Styling
                    &#realmeow-sensor-power {
                        width: 40%;
                        height: 10%;
                        top: 11.5%;
                        left: 55%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 24%;
                        }
                    }
                    &#realmeow-radioactive-power {
                        width: 40%;
                        height: 10%;
                        top: 25%;
                        left: 55%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 15%;
                        }
                    }
                    &#realmeow-machine-power {
                        width: 40%;
                        height: 10%;
                        top: 75.5%;
                        left: 10%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 25%;
                        }
                    }
                    &#realmeow-star-contact-power {
                        width: 40%;
                        height: 10%;
                        top: 34.7%;
                        left: 55%;
                        .power-title {
                            font-size: 18px;
                        }
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 13%;
                        }
                    }
                    &#realmeow-collection-power {
                        width: 40%;
                        height: 10%;
                        top: 48.35%;
                        left: 55%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 15%;
                        }
                    }
                    &#realmeow-gravity-power {
                        width: 40%;
                        height: 10%;
                        top: 60%;
                        left: 10%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 15%;
                        }
                    }
                }
            }
        }
    }
    @media #{$information-phone} {
        .section-realmeow-superpower,
        #realmeow-superpower {
            // Poser Holder
            .power-listing-holder {
                top: 0;
                left: 0;
                .power-group {
                    // Individual Styling elements
                    .power-title {
                        // font-size: 24px;
                        font-size: 13px;
                        word-spacing: -.5px;
                    }
                    .decor {
                        display: none;
                    }
                    .power-desc {
                        font-size: 11px;
                        line-height: 22px;
                    }
                    // Individual Elements Styling
                    &#realmeow-sensor-power {
                        width: 40%;
                        height: 10%;
                        top: 11.5%;
                        left: 53%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 24%;
                        }
                    }
                    &#realmeow-radioactive-power {
                        width: 40%;
                        height: 10%;
                        top: 25%;
                        left: 53%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 15%;
                        }
                    }
                    &#realmeow-machine-power {
                        width: 40%;
                        height: 10%;
                        top: 75.5%;
                        left: 10%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 25%;
                        }
                    }
                    &#realmeow-star-contact-power {
                        width: 47%;
                        height: 10%;
                        top: 34.7%;
                        left: 53%;
                        .power-title {
                            font-size: 11px;
                        }
                        .power-desc {
                            width: 88%;
                            left: 0%;
                            top: 13%;
                        }
                    }
                    &#realmeow-collection-power {
                        width: 40%;
                        height: 10%;
                        top: 48.35%;
                        left: 53%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 15%;
                        }
                    }
                    &#realmeow-gravity-power {
                        width: 40%;
                        height: 10%;
                        top: 60%;
                        left: 10%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 15%;
                        }
                    }
                }
            }
        }
    }
    @media #{$information-sm-phone} {
        .section-realmeow-superpower,
        #realmeow-superpower {
            // Poser Holder
            .power-listing-holder {
                .power-group {
                    // Individual Styling elements
                    .power-title {
                        // font-size: 24px;
                        font-size: 12px;
                        word-spacing: -.5px;
                    }
                    .decor {
                        display: none;
                    }
                    .power-desc {
                        font-size: 9px;
                        line-height: 19px;
                    }
                    // Individual Elements Styling
                    &#realmeow-sensor-power {
                        width: 40%;
                        height: 10%;
                        top: 11.5%;
                        left: 53%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 28%;
                        }
                    }
                    &#realmeow-radioactive-power {
                        width: 40%;
                        height: 10%;
                        top: 25%;
                        left: 53%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 18%;
                        }
                    }
                    &#realmeow-machine-power {
                        width: 40%;
                        height: 10%;
                        top: 75.5%;
                        left: 10%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 25%;
                        }
                    }
                    &#realmeow-star-contact-power {
                        width: 45%;
                        height: 10%;
                        top: 34.7%;
                        left: 53%;
                        .power-title {
                            font-size: 11px;
                        }
                        .power-desc {
                            width: 88%;
                            left: 0%;
                            top: 28%;
                        }
                    }
                    &#realmeow-collection-power {
                        width: 40%;
                        height: 10%;
                        top: 48.35%;
                        left: 53%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 15%;
                        }
                    }
                    &#realmeow-gravity-power {
                        width: 40%;
                        height: 10%;
                        top: 60%;
                        left: 10%;
                        .power-title {}
                        .power-desc {
                            width: 100%;
                            left: 0%;
                            top: 15%;
                        }
                    }
                }
            }
        }
    }
}