#realmeow-page {
    .section-realmeow-the-legend,
    #realmeow-the-legend {
        background-color: $black;
        padding: 9.45vw 0 5vw;
        // Title
        .title-holder {
            position: relative;
            margin-bottom: 120px;
            .section-title {
                position: relative;
                z-index: 2;
            }
            .decor {
                position: absolute;
                left: 50%;
                top: -55%;
                img {
                    transform: rotate(47deg);
                    width: 4.5vw;
                }
            }
        }
        // Legen Intro Layout
        .legend-intro-layout {
            width: 1080px;
            margin: auto;
            max-width: 100%;
            display: grid;
            grid-template-columns: 0.55fr 0.42fr;
            // Image Column
            .image-column {
                flex-basis: 58.333%;
                position: relative;
                .mark-image {
                    position: relative;
                    width: 94.7619%;
                    z-index: 2;
                }
                .img-frame {
                    position: absolute;
                    width: 94.7619%;
                    height: 100%;
                    top: 5%;
                    left: 5%;
                    border: 1px solid #979797;
                }
            }
            .desc-column {
                padding-left: 10%;
                .desc-group {
                    margin-bottom: 100px;
                    .intro-title-holder {
                        .group-sub-title {
                            position: relative;
                            font-size: 22px;
                            text-align: center;
                            width: 220px;
                            margin-bottom: 10px;
                            .content {
                                background-color: $black;
                                display: inline-block;
                                padding: 0 6px;
                                position: relative;
                                z-index: 2;
                            }
                            &:after {
                                content: '';
                                width: 100%;
                                position: absolute;
                                top: 49%;
                                height: 2px;
                                left: 0;
                                background-color: #979797;
                            }
                        }
                        .realmeow-logo-holder {
                            width: 220px;
                        }
                    }
                    .group-title {
                        font-size: 50px;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                    .desc {
                        font-size: 18px;
                        line-height: 1.75;
                        padding-top: 20px;
                        color: #CBCBCB;
                    }
                }
            }
        }
    }
}