#realmeow-page {
    #realmeow-tvc-banner,
    .section-realmeow-tvc-banner {
        background-color: $black;
        position: relative;
        .play-btn-holder {
            position: absolute;
            width: 6%;
            top: 41.5%;
            left: 46%;
            cursor: pointer;
        }
    }
    /* === RESPONSIVE === */
    @media #{$information-md-screen} {
        #realmeow-tvc-banner,
        .section-realmeow-tvc-banner {
            width: 1680px;
            margin-left: calc((100% - 1680px)/2);
        }
    }
    /* === MOBILE === */
    @media #{$information-tablet} {
        #realmeow-tvc-banner,
        .section-realmeow-tvc-banner {
            width: 100%;
            margin-left: 0;
            .play-btn-holder {
                width: 32%;
                top: 40%;
                left: 34%;
            }
        }
    }
}