#realmeow-page {
    #realmeow-tvc-banner,
    .section-realmeow-tvc-banner {
        background-color: $black;
        position: relative;
        .background-holder {
            picture,
            image {
                -webkit-animation: zoomBg 25s cubic-bezier(.59, .01, .47, 1) infinite;
                animation: zoomBg 25s cubic-bezier(.59, .01, .47, 1) infinite;
            }
        }
        .play-btn-holder {
            position: absolute;
            width: 6%;
            top: 41.5%;
            left: 46%;
            cursor: pointer;
        }
    }
    /* === RESPONSIVE === */
    @media #{$information-md-screen} {
        #realmeow-tvc-banner,
        .section-realmeow-tvc-banner {
            width: 1680px;
            margin-left: calc((100% - 1680px)/2);
        }
    }
    /* === MOBILE === */
    @media #{$information-tablet} {
        #realmeow-tvc-banner,
        .section-realmeow-tvc-banner {
            width: 100%;
            margin-left: 0;
            .play-btn-holder {
                width: 32%;
                top: 40%;
                left: 34%;
            }
        }
    }
}

@keyframes zoomBg {
    0%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@-webkit-keyframes zoomBg {
    0%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}