#realmeow-page {
    #who-call-realmeow,
    .section-who-call-realmeow {
        background-color: $black;
        position: relative;
        height: 103.125vw;
        // Background Holder
        .background-holder {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 67.1875%;
        }
        // Main Content
        .main-content {
            position: absolute;
            width: 100%;
            top: 20.6%;
            .realmeow-logo-holder {
                margin: 5vw 0 2.1484375vw;
                cursor: pointer;
                img,
                svg {
                    width: 15.625%;
                    height: auto;
                    path {
                        fill: $white;
                        transition: all ease-in 100ms;
                    }
                }
                &:hover {
                    svg {
                        path {
                            fill: $yellow;
                            transition: all ease-out 150ms;
                        }
                    }
                }
            }
        }
        // Profile
        .realmeow-profile {
            position: absolute;
            width: 100%;
            top: 58.71212%;
            left: 0;
            bottom: 0;
            .profile-image {
                position: absolute;
                width: 51.5625%;
                left: 24.25%;
                top: 17.5%;
            }
        }
    }
    /* === RESPONSIVE === */
    @media #{$information-md-screen} {
        #who-call-realmeow,
        .section-who-call-realmeow {
            width: 1680px;
            height: 1733px;
            margin-left: calc((100% - 1680px)/2);
        }
    }
    /* === MOBILE === */
    @media #{$information-tablet} {
        #who-call-realmeow,
        .section-who-call-realmeow {
            width: 100%;
            height: auto;
            margin-left: 0;
            // Background Holder
            .background-holder {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
            }
            // Main Content
            .main-content {
                width: 100%;
                top: 14%;
                .realmeow-logo-holder {
                    margin: 15vw 0 5vw;
                    img {
                        width: 34.7222%;
                    }
                }
                .desc {
                    width: 40%;
                    margin: auto;
                    white-space: normal;
                    color: #CBCBCB;
                    font-size: 20px;
                    line-height: 36px;
                    text-align: center;
                }
            }
            // Profile
            .realmeow-profile {
                .profile-image {
                    display: none;
                }
            }
        }
    }
    @media #{$information-phone} {
        #who-call-realmeow,
        .section-who-call-realmeow {
            // Main Content
            .main-content {
                .desc {
                    width: 37%;
                    font-size: 12px;
                    line-height: 24px;
                    text-align: center;
                }
            }
        }
    }
    @media #{$information-sm-phone} {
        #who-call-realmeow,
        .section-who-call-realmeow {
            // Main Content
            .main-content {
                .desc {
                    width: 40%;
                    font-size: 11px;
                    line-height: 21px;
                    text-align: center;
                }
            }
        }
    }
}