#realmeow-page {
    .section {
        overflow: hidden;
    }
    .img-holder {
        img,
        picture,
        svg {
            display: block;
            width: 100%;
        }
        &.bg-mode {
            img,
            picture,
            svg {
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.blink-cursor {
    &.stop-write {
        animation: blink 800ms infinite;
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}