@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap");

/* === TYPOGRAPHY === */

@font-face {
    font-family: 'Gilroy';
    src: url('./font/SVN-Gilroy SemiBold Italic.otf');
    font-weight: 600;
    font-style: italic;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    * {
        box-sizing: border-box;
    }
}

#realmeow-page {
    * {
        font-family: 'Open Sans', sans-serif;
    }
    .bold {
        font-weight: 600;
    }
    .gilroy {
        font-family: 'Gilroy', sans-serif;
    }
    .txt-white,
    .white-txt {
        color: $white;
        * {
            color: $white;
        }
    }
    h1,
    h2,
    h3,
    h4,
    p {
        margin-top: 0;
    }
    .section-title {
        font-size: 70px;
        margin: 0;
    }
    .desc {
        font-size: 16px;
    }
    .txt-center {
        text-align: center;
    }
    @media (max-width: 1920px) {
        .section-title {
            font-size: 52px;
        }
        .desc {
            font-size: 12px;
        }
    }
}